set_location Instance1.r_Count_RNIC2TU1[8] 1 9 3 # SB_LUT4 (LogicCell: Instance1.r_Count_RNIC2TU1[8]_LC_0)
set_location Instance1.r_Count_RNID9RS4[12] 1 9 5 # SB_LUT4 (LogicCell: Instance1.r_Count_RNID9RS4[12]_LC_1)
set_location Instance1.r_Count_RNIED2U1[4] 1 9 4 # SB_LUT4 (LogicCell: Instance1.r_Count_RNIED2U1[4]_LC_2)
set_location Instance1.r_Count_RNIIVNV1[17] 1 10 0 # SB_LUT4 (LogicCell: Instance1.r_Count_RNIIVNV1[17]_LC_3)
set_location Instance1.r_Count_RNO[0] 2 11 2 # SB_LUT4 (LogicCell: Instance1.r_Count[0]_LC_4)
set_location Instance1.r_Count[0] 2 11 2 # SB_DFFSR (LogicCell: Instance1.r_Count[0]_LC_4)
set_location Instance1.r_Count_RNO[1] 1 10 5 # SB_LUT4 (LogicCell: Instance1.r_Count[1]_LC_5)
set_location Instance1.r_Count[1] 1 10 5 # SB_DFFSR (LogicCell: Instance1.r_Count[1]_LC_5)
set_location Instance1.r_Count_RNO[10] 2 10 1 # SB_LUT4 (LogicCell: Instance1.r_Count[10]_LC_6)
set_location Instance1.r_Count[10] 2 10 1 # SB_DFFSR (LogicCell: Instance1.r_Count[10]_LC_6)
set_location Instance1.r_Count_2_cry_10_c 2 10 1 # SB_CARRY (LogicCell: Instance1.r_Count[10]_LC_6)
set_location Instance1.r_Count_RNO[11] 2 10 2 # SB_LUT4 (LogicCell: Instance1.r_Count[11]_LC_7)
set_location Instance1.r_Count[11] 2 10 2 # SB_DFFSR (LogicCell: Instance1.r_Count[11]_LC_7)
set_location Instance1.r_Count_2_cry_11_c 2 10 2 # SB_CARRY (LogicCell: Instance1.r_Count[11]_LC_7)
set_location Instance1.r_Count_RNO[12] 2 10 3 # SB_LUT4 (LogicCell: Instance1.r_Count[12]_LC_8)
set_location Instance1.r_Count[12] 2 10 3 # SB_DFFSR (LogicCell: Instance1.r_Count[12]_LC_8)
set_location Instance1.r_Count_2_cry_12_c 2 10 3 # SB_CARRY (LogicCell: Instance1.r_Count[12]_LC_8)
set_location Instance1.r_Count_RNO[13] 2 10 4 # SB_LUT4 (LogicCell: Instance1.r_Count[13]_LC_9)
set_location Instance1.r_Count[13] 2 10 4 # SB_DFFSR (LogicCell: Instance1.r_Count[13]_LC_9)
set_location Instance1.r_Count_2_cry_13_c 2 10 4 # SB_CARRY (LogicCell: Instance1.r_Count[13]_LC_9)
set_location Instance1.r_Count_RNO[14] 2 10 5 # SB_LUT4 (LogicCell: Instance1.r_Count[14]_LC_10)
set_location Instance1.r_Count[14] 2 10 5 # SB_DFFSR (LogicCell: Instance1.r_Count[14]_LC_10)
set_location Instance1.r_Count_2_cry_14_c 2 10 5 # SB_CARRY (LogicCell: Instance1.r_Count[14]_LC_10)
set_location Instance1.r_Count_RNO[15] 2 10 6 # SB_LUT4 (LogicCell: Instance1.r_Count[15]_LC_11)
set_location Instance1.r_Count[15] 2 10 6 # SB_DFFSR (LogicCell: Instance1.r_Count[15]_LC_11)
set_location Instance1.r_Count_2_cry_15_c 2 10 6 # SB_CARRY (LogicCell: Instance1.r_Count[15]_LC_11)
set_location Instance1.r_Count_RNO[16] 2 10 7 # SB_LUT4 (LogicCell: Instance1.r_Count[16]_LC_12)
set_location Instance1.r_Count[16] 2 10 7 # SB_DFFSR (LogicCell: Instance1.r_Count[16]_LC_12)
set_location Instance1.r_Count_2_cry_16_c 2 10 7 # SB_CARRY (LogicCell: Instance1.r_Count[16]_LC_12)
set_location Instance1.r_Count_RNO[17] 2 11 0 # SB_LUT4 (LogicCell: Instance1.r_Count[17]_LC_13)
set_location Instance1.r_Count[17] 2 11 0 # SB_DFFSR (LogicCell: Instance1.r_Count[17]_LC_13)
set_location Instance1.r_Count_RNO[2] 2 9 1 # SB_LUT4 (LogicCell: Instance1.r_Count[2]_LC_14)
set_location Instance1.r_Count[2] 2 9 1 # SB_DFFSR (LogicCell: Instance1.r_Count[2]_LC_14)
set_location Instance1.r_Count_2_cry_2_c 2 9 1 # SB_CARRY (LogicCell: Instance1.r_Count[2]_LC_14)
set_location Instance1.r_Count_RNO[3] 2 9 2 # SB_LUT4 (LogicCell: Instance1.r_Count[3]_LC_15)
set_location Instance1.r_Count[3] 2 9 2 # SB_DFFSR (LogicCell: Instance1.r_Count[3]_LC_15)
set_location Instance1.r_Count_2_cry_3_c 2 9 2 # SB_CARRY (LogicCell: Instance1.r_Count[3]_LC_15)
set_location Instance1.r_Count_RNO[4] 2 9 3 # SB_LUT4 (LogicCell: Instance1.r_Count[4]_LC_16)
set_location Instance1.r_Count[4] 2 9 3 # SB_DFFSR (LogicCell: Instance1.r_Count[4]_LC_16)
set_location Instance1.r_Count_2_cry_4_c 2 9 3 # SB_CARRY (LogicCell: Instance1.r_Count[4]_LC_16)
set_location Instance1.r_Count_RNO[5] 2 9 4 # SB_LUT4 (LogicCell: Instance1.r_Count[5]_LC_17)
set_location Instance1.r_Count[5] 2 9 4 # SB_DFFSR (LogicCell: Instance1.r_Count[5]_LC_17)
set_location Instance1.r_Count_2_cry_5_c 2 9 4 # SB_CARRY (LogicCell: Instance1.r_Count[5]_LC_17)
set_location Instance1.r_Count_RNO[6] 2 9 5 # SB_LUT4 (LogicCell: Instance1.r_Count[6]_LC_18)
set_location Instance1.r_Count[6] 2 9 5 # SB_DFFSR (LogicCell: Instance1.r_Count[6]_LC_18)
set_location Instance1.r_Count_2_cry_6_c 2 9 5 # SB_CARRY (LogicCell: Instance1.r_Count[6]_LC_18)
set_location Instance1.r_Count_RNO[7] 2 9 6 # SB_LUT4 (LogicCell: Instance1.r_Count[7]_LC_19)
set_location Instance1.r_Count[7] 2 9 6 # SB_DFFSR (LogicCell: Instance1.r_Count[7]_LC_19)
set_location Instance1.r_Count_2_cry_7_c 2 9 6 # SB_CARRY (LogicCell: Instance1.r_Count[7]_LC_19)
set_location Instance1.r_Count_RNO[8] 2 9 7 # SB_LUT4 (LogicCell: Instance1.r_Count[8]_LC_20)
set_location Instance1.r_Count[8] 2 9 7 # SB_DFFSR (LogicCell: Instance1.r_Count[8]_LC_20)
set_location Instance1.r_Count_2_cry_8_c 2 9 7 # SB_CARRY (LogicCell: Instance1.r_Count[8]_LC_20)
set_location Instance1.r_Count_RNO[9] 2 10 0 # SB_LUT4 (LogicCell: Instance1.r_Count[9]_LC_21)
set_location Instance1.r_Count[9] 2 10 0 # SB_DFFSR (LogicCell: Instance1.r_Count[9]_LC_21)
set_location Instance1.r_Count_2_cry_9_c 2 10 0 # SB_CARRY (LogicCell: Instance1.r_Count[9]_LC_21)
set_location Instance1.r_State_RNIK9757 1 9 6 # SB_LUT4 (LogicCell: Instance1.r_State_RNIK9757_LC_22)
set_location Instance1.r_State_RNIPV6C 1 11 1 # SB_LUT4 (LogicCell: Instance1.r_State_RNIPV6C_LC_23)
set_location Instance1.r_State_RNO 1 11 7 # SB_LUT4 (LogicCell: Instance1.r_State_LC_24)
set_location Instance1.r_State 1 11 7 # SB_DFF (LogicCell: Instance1.r_State_LC_24)
set_location Instance1.r_State_RNO_0 1 11 4 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_0_LC_25)
set_location Instance1.r_State_RNO_1 1 11 6 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_1_LC_26)
set_location Instance1.r_State_RNO_2 1 11 3 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_2_LC_27)
set_location Instance1.r_State_RNO_3 1 9 7 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_3_LC_28)
set_location Instance1.r_State_RNO_4 1 10 2 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_4_LC_29)
set_location Instance1.r_State_RNO_5 1 9 1 # SB_LUT4 (LogicCell: Instance1.r_State_RNO_5_LC_30)
set_location Instance2.SUM[2] 1 13 6 # SB_LUT4 (LogicCell: Instance2.SUM[2]_LC_31)
set_location Instance2.SUM[3] 4 10 4 # SB_LUT4 (LogicCell: Instance2.SUM[3]_LC_32)
set_location Instance2.r_Count11 4 10 6 # SB_LUT4 (LogicCell: Instance2.r_Count11_LC_33)
set_location Instance2.r_Count_RNIGGG81[8] 5 11 2 # SB_LUT4 (LogicCell: Instance2.r_Count_RNIGGG81[8]_LC_34)
set_location Instance2.r_Count_RNIIPVO[4] 5 10 5 # SB_LUT4 (LogicCell: Instance2.r_Count_RNIIPVO[4]_LC_35)
set_location Instance2.r_Count_RNIMF1O1[17] 5 12 0 # SB_LUT4 (LogicCell: Instance2.r_Count_RNIMF1O1[17]_LC_36)
set_location Instance2.r_Count_RNINRGT2[12] 5 10 6 # SB_LUT4 (LogicCell: Instance2.r_Count_RNINRGT2[12]_LC_37)
set_location Instance2.r_Count_RNO[0] 6 12 5 # SB_LUT4 (LogicCell: Instance2.r_Count[0]_LC_38)
set_location Instance2.r_Count[0] 6 12 5 # SB_DFFSR (LogicCell: Instance2.r_Count[0]_LC_38)
set_location Instance2.r_Count_RNO[1] 6 12 6 # SB_LUT4 (LogicCell: Instance2.r_Count[1]_LC_39)
set_location Instance2.r_Count[1] 6 12 6 # SB_DFFSR (LogicCell: Instance2.r_Count[1]_LC_39)
set_location Instance2.r_Count_RNO[10] 6 11 1 # SB_LUT4 (LogicCell: Instance2.r_Count[10]_LC_40)
set_location Instance2.r_Count[10] 6 11 1 # SB_DFFSR (LogicCell: Instance2.r_Count[10]_LC_40)
set_location Instance2.r_Count_2_cry_10_c 6 11 1 # SB_CARRY (LogicCell: Instance2.r_Count[10]_LC_40)
set_location Instance2.r_Count_RNO[11] 6 11 2 # SB_LUT4 (LogicCell: Instance2.r_Count[11]_LC_41)
set_location Instance2.r_Count[11] 6 11 2 # SB_DFFSR (LogicCell: Instance2.r_Count[11]_LC_41)
set_location Instance2.r_Count_2_cry_11_c 6 11 2 # SB_CARRY (LogicCell: Instance2.r_Count[11]_LC_41)
set_location Instance2.r_Count_RNO[12] 6 11 3 # SB_LUT4 (LogicCell: Instance2.r_Count[12]_LC_42)
set_location Instance2.r_Count[12] 6 11 3 # SB_DFFSR (LogicCell: Instance2.r_Count[12]_LC_42)
set_location Instance2.r_Count_2_cry_12_c 6 11 3 # SB_CARRY (LogicCell: Instance2.r_Count[12]_LC_42)
set_location Instance2.r_Count_RNO[13] 6 11 4 # SB_LUT4 (LogicCell: Instance2.r_Count[13]_LC_43)
set_location Instance2.r_Count[13] 6 11 4 # SB_DFFSR (LogicCell: Instance2.r_Count[13]_LC_43)
set_location Instance2.r_Count_2_cry_13_c 6 11 4 # SB_CARRY (LogicCell: Instance2.r_Count[13]_LC_43)
set_location Instance2.r_Count_RNO[14] 6 11 5 # SB_LUT4 (LogicCell: Instance2.r_Count[14]_LC_44)
set_location Instance2.r_Count[14] 6 11 5 # SB_DFFSR (LogicCell: Instance2.r_Count[14]_LC_44)
set_location Instance2.r_Count_2_cry_14_c 6 11 5 # SB_CARRY (LogicCell: Instance2.r_Count[14]_LC_44)
set_location Instance2.r_Count_RNO[15] 6 11 6 # SB_LUT4 (LogicCell: Instance2.r_Count[15]_LC_45)
set_location Instance2.r_Count[15] 6 11 6 # SB_DFFSR (LogicCell: Instance2.r_Count[15]_LC_45)
set_location Instance2.r_Count_2_cry_15_c 6 11 6 # SB_CARRY (LogicCell: Instance2.r_Count[15]_LC_45)
set_location Instance2.r_Count_RNO[16] 6 11 7 # SB_LUT4 (LogicCell: Instance2.r_Count[16]_LC_46)
set_location Instance2.r_Count[16] 6 11 7 # SB_DFFSR (LogicCell: Instance2.r_Count[16]_LC_46)
set_location Instance2.r_Count_2_cry_16_c 6 11 7 # SB_CARRY (LogicCell: Instance2.r_Count[16]_LC_46)
set_location Instance2.r_Count_RNO[17] 6 12 0 # SB_LUT4 (LogicCell: Instance2.r_Count[17]_LC_47)
set_location Instance2.r_Count[17] 6 12 0 # SB_DFFSR (LogicCell: Instance2.r_Count[17]_LC_47)
set_location Instance2.r_Count_RNO[2] 6 10 1 # SB_LUT4 (LogicCell: Instance2.r_Count[2]_LC_48)
set_location Instance2.r_Count[2] 6 10 1 # SB_DFFSR (LogicCell: Instance2.r_Count[2]_LC_48)
set_location Instance2.r_Count_2_cry_2_c 6 10 1 # SB_CARRY (LogicCell: Instance2.r_Count[2]_LC_48)
set_location Instance2.r_Count_RNO[3] 6 10 2 # SB_LUT4 (LogicCell: Instance2.r_Count[3]_LC_49)
set_location Instance2.r_Count[3] 6 10 2 # SB_DFFSR (LogicCell: Instance2.r_Count[3]_LC_49)
set_location Instance2.r_Count_2_cry_3_c 6 10 2 # SB_CARRY (LogicCell: Instance2.r_Count[3]_LC_49)
set_location Instance2.r_Count_RNO[4] 6 10 3 # SB_LUT4 (LogicCell: Instance2.r_Count[4]_LC_50)
set_location Instance2.r_Count[4] 6 10 3 # SB_DFFSR (LogicCell: Instance2.r_Count[4]_LC_50)
set_location Instance2.r_Count_2_cry_4_c 6 10 3 # SB_CARRY (LogicCell: Instance2.r_Count[4]_LC_50)
set_location Instance2.r_Count_RNO[5] 6 10 4 # SB_LUT4 (LogicCell: Instance2.r_Count[5]_LC_51)
set_location Instance2.r_Count[5] 6 10 4 # SB_DFFSR (LogicCell: Instance2.r_Count[5]_LC_51)
set_location Instance2.r_Count_2_cry_5_c 6 10 4 # SB_CARRY (LogicCell: Instance2.r_Count[5]_LC_51)
set_location Instance2.r_Count_RNO[6] 6 10 5 # SB_LUT4 (LogicCell: Instance2.r_Count[6]_LC_52)
set_location Instance2.r_Count[6] 6 10 5 # SB_DFFSR (LogicCell: Instance2.r_Count[6]_LC_52)
set_location Instance2.r_Count_2_cry_6_c 6 10 5 # SB_CARRY (LogicCell: Instance2.r_Count[6]_LC_52)
set_location Instance2.r_Count_RNO[7] 6 10 6 # SB_LUT4 (LogicCell: Instance2.r_Count[7]_LC_53)
set_location Instance2.r_Count[7] 6 10 6 # SB_DFFSR (LogicCell: Instance2.r_Count[7]_LC_53)
set_location Instance2.r_Count_2_cry_7_c 6 10 6 # SB_CARRY (LogicCell: Instance2.r_Count[7]_LC_53)
set_location Instance2.r_Count_RNO[8] 6 10 7 # SB_LUT4 (LogicCell: Instance2.r_Count[8]_LC_54)
set_location Instance2.r_Count[8] 6 10 7 # SB_DFFSR (LogicCell: Instance2.r_Count[8]_LC_54)
set_location Instance2.r_Count_2_cry_8_c 6 10 7 # SB_CARRY (LogicCell: Instance2.r_Count[8]_LC_54)
set_location Instance2.r_Count_RNO[9] 6 11 0 # SB_LUT4 (LogicCell: Instance2.r_Count[9]_LC_55)
set_location Instance2.r_Count[9] 6 11 0 # SB_DFFSR (LogicCell: Instance2.r_Count[9]_LC_55)
set_location Instance2.r_Count_2_cry_9_c 6 11 0 # SB_CARRY (LogicCell: Instance2.r_Count[9]_LC_55)
set_location Instance2.r_State_RNI4PC15 5 16 3 # SB_LUT4 (LogicCell: Instance2.r_State_RNI4PC15_LC_56)
set_location Instance2.r_State_RNIHFHJ2 1 12 1 # SB_LUT4 (LogicCell: Instance2.r_State_RNIHFHJ2_LC_57)
set_location Instance2.r_State_RNINFUP1 5 12 7 # SB_LUT4 (LogicCell: Instance2.r_State_RNINFUP1_LC_58)
set_location Instance2.r_State_RNIR73L 5 12 6 # SB_LUT4 (LogicCell: Instance2.r_State_RNIR73L_LC_59)
set_location Instance2.r_State_RNO 5 11 1 # SB_LUT4 (LogicCell: Instance2.r_State_LC_60)
set_location Instance2.r_State 5 11 1 # SB_DFF (LogicCell: Instance2.r_State_LC_60)
set_location Instance2.r_State_RNO_0 5 10 2 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_0_LC_61)
set_location Instance2.r_State_RNO_1 5 11 0 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_1_LC_62)
set_location Instance2.r_State_RNO_2 5 11 7 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_2_LC_63)
set_location Instance2.r_State_RNO_3 5 10 1 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_3_LC_64)
set_location Instance2.r_State_RNO_4 5 11 5 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_4_LC_65)
set_location Instance2.r_State_RNO_5 5 11 4 # SB_LUT4 (LogicCell: Instance2.r_State_RNO_5_LC_66)
set_location Instance2.un1_w_Switch_3_1 4 13 1 # SB_LUT4 (LogicCell: Instance2.un1_w_Switch_3_1_LC_67)
set_location Instance3.r_Count_RNI1E6U3[12] 7 9 0 # SB_LUT4 (LogicCell: Instance3.r_Count_RNI1E6U3[12]_LC_68)
set_location Instance3.r_Count_RNIKU3I1[10] 7 9 7 # SB_LUT4 (LogicCell: Instance3.r_Count_RNIKU3I1[10]_LC_69)
set_location Instance3.r_Count_RNIM5TJ1[4] 7 9 5 # SB_LUT4 (LogicCell: Instance3.r_Count_RNIM5TJ1[4]_LC_70)
set_location Instance3.r_Count_RNIQVAG1[17] 7 10 7 # SB_LUT4 (LogicCell: Instance3.r_Count_RNIQVAG1[17]_LC_71)
set_location Instance3.r_Count_RNO[0] 9 10 0 # SB_LUT4 (LogicCell: Instance3.r_Count[0]_LC_72)
set_location Instance3.r_Count[0] 9 10 0 # SB_DFFSR (LogicCell: Instance3.r_Count[0]_LC_72)
set_location Instance3.r_Count_RNO[1] 9 10 1 # SB_LUT4 (LogicCell: Instance3.r_Count[1]_LC_73)
set_location Instance3.r_Count[1] 9 10 1 # SB_DFFSR (LogicCell: Instance3.r_Count[1]_LC_73)
set_location Instance3.r_Count_RNO[10] 8 10 1 # SB_LUT4 (LogicCell: Instance3.r_Count[10]_LC_74)
set_location Instance3.r_Count[10] 8 10 1 # SB_DFFSR (LogicCell: Instance3.r_Count[10]_LC_74)
set_location Instance3.r_Count_2_cry_10_c 8 10 1 # SB_CARRY (LogicCell: Instance3.r_Count[10]_LC_74)
set_location Instance3.r_Count_RNO[11] 8 10 2 # SB_LUT4 (LogicCell: Instance3.r_Count[11]_LC_75)
set_location Instance3.r_Count[11] 8 10 2 # SB_DFFSR (LogicCell: Instance3.r_Count[11]_LC_75)
set_location Instance3.r_Count_2_cry_11_c 8 10 2 # SB_CARRY (LogicCell: Instance3.r_Count[11]_LC_75)
set_location Instance3.r_Count_RNO[12] 8 10 3 # SB_LUT4 (LogicCell: Instance3.r_Count[12]_LC_76)
set_location Instance3.r_Count[12] 8 10 3 # SB_DFFSR (LogicCell: Instance3.r_Count[12]_LC_76)
set_location Instance3.r_Count_2_cry_12_c 8 10 3 # SB_CARRY (LogicCell: Instance3.r_Count[12]_LC_76)
set_location Instance3.r_Count_RNO[13] 8 10 4 # SB_LUT4 (LogicCell: Instance3.r_Count[13]_LC_77)
set_location Instance3.r_Count[13] 8 10 4 # SB_DFFSR (LogicCell: Instance3.r_Count[13]_LC_77)
set_location Instance3.r_Count_2_cry_13_c 8 10 4 # SB_CARRY (LogicCell: Instance3.r_Count[13]_LC_77)
set_location Instance3.r_Count_RNO[14] 8 10 5 # SB_LUT4 (LogicCell: Instance3.r_Count[14]_LC_78)
set_location Instance3.r_Count[14] 8 10 5 # SB_DFFSR (LogicCell: Instance3.r_Count[14]_LC_78)
set_location Instance3.r_Count_2_cry_14_c 8 10 5 # SB_CARRY (LogicCell: Instance3.r_Count[14]_LC_78)
set_location Instance3.r_Count_RNO[15] 8 10 6 # SB_LUT4 (LogicCell: Instance3.r_Count[15]_LC_79)
set_location Instance3.r_Count[15] 8 10 6 # SB_DFFSR (LogicCell: Instance3.r_Count[15]_LC_79)
set_location Instance3.r_Count_2_cry_15_c 8 10 6 # SB_CARRY (LogicCell: Instance3.r_Count[15]_LC_79)
set_location Instance3.r_Count_RNO[16] 8 10 7 # SB_LUT4 (LogicCell: Instance3.r_Count[16]_LC_80)
set_location Instance3.r_Count[16] 8 10 7 # SB_DFFSR (LogicCell: Instance3.r_Count[16]_LC_80)
set_location Instance3.r_Count_2_cry_16_c 8 10 7 # SB_CARRY (LogicCell: Instance3.r_Count[16]_LC_80)
set_location Instance3.r_Count_RNO[17] 8 11 0 # SB_LUT4 (LogicCell: Instance3.r_Count[17]_LC_81)
set_location Instance3.r_Count[17] 8 11 0 # SB_DFFSR (LogicCell: Instance3.r_Count[17]_LC_81)
set_location Instance3.r_Count_RNO[2] 8 9 1 # SB_LUT4 (LogicCell: Instance3.r_Count[2]_LC_82)
set_location Instance3.r_Count[2] 8 9 1 # SB_DFFSR (LogicCell: Instance3.r_Count[2]_LC_82)
set_location Instance3.r_Count_2_cry_2_c 8 9 1 # SB_CARRY (LogicCell: Instance3.r_Count[2]_LC_82)
set_location Instance3.r_Count_RNO[3] 8 9 2 # SB_LUT4 (LogicCell: Instance3.r_Count[3]_LC_83)
set_location Instance3.r_Count[3] 8 9 2 # SB_DFFSR (LogicCell: Instance3.r_Count[3]_LC_83)
set_location Instance3.r_Count_2_cry_3_c 8 9 2 # SB_CARRY (LogicCell: Instance3.r_Count[3]_LC_83)
set_location Instance3.r_Count_RNO[4] 8 9 3 # SB_LUT4 (LogicCell: Instance3.r_Count[4]_LC_84)
set_location Instance3.r_Count[4] 8 9 3 # SB_DFFSR (LogicCell: Instance3.r_Count[4]_LC_84)
set_location Instance3.r_Count_2_cry_4_c 8 9 3 # SB_CARRY (LogicCell: Instance3.r_Count[4]_LC_84)
set_location Instance3.r_Count_RNO[5] 8 9 4 # SB_LUT4 (LogicCell: Instance3.r_Count[5]_LC_85)
set_location Instance3.r_Count[5] 8 9 4 # SB_DFFSR (LogicCell: Instance3.r_Count[5]_LC_85)
set_location Instance3.r_Count_2_cry_5_c 8 9 4 # SB_CARRY (LogicCell: Instance3.r_Count[5]_LC_85)
set_location Instance3.r_Count_RNO[6] 8 9 5 # SB_LUT4 (LogicCell: Instance3.r_Count[6]_LC_86)
set_location Instance3.r_Count[6] 8 9 5 # SB_DFFSR (LogicCell: Instance3.r_Count[6]_LC_86)
set_location Instance3.r_Count_2_cry_6_c 8 9 5 # SB_CARRY (LogicCell: Instance3.r_Count[6]_LC_86)
set_location Instance3.r_Count_RNO[7] 8 9 6 # SB_LUT4 (LogicCell: Instance3.r_Count[7]_LC_87)
set_location Instance3.r_Count[7] 8 9 6 # SB_DFFSR (LogicCell: Instance3.r_Count[7]_LC_87)
set_location Instance3.r_Count_2_cry_7_c 8 9 6 # SB_CARRY (LogicCell: Instance3.r_Count[7]_LC_87)
set_location Instance3.r_Count_RNO[8] 8 9 7 # SB_LUT4 (LogicCell: Instance3.r_Count[8]_LC_88)
set_location Instance3.r_Count[8] 8 9 7 # SB_DFFSR (LogicCell: Instance3.r_Count[8]_LC_88)
set_location Instance3.r_Count_2_cry_8_c 8 9 7 # SB_CARRY (LogicCell: Instance3.r_Count[8]_LC_88)
set_location Instance3.r_Count_RNO[9] 8 10 0 # SB_LUT4 (LogicCell: Instance3.r_Count[9]_LC_89)
set_location Instance3.r_Count[9] 8 10 0 # SB_DFFSR (LogicCell: Instance3.r_Count[9]_LC_89)
set_location Instance3.r_Count_2_cry_9_c 8 10 0 # SB_CARRY (LogicCell: Instance3.r_Count[9]_LC_89)
set_location Instance3.r_State_RNIK8IT5 7 9 1 # SB_LUT4 (LogicCell: Instance3.r_State_RNIK8IT5_LC_90)
set_location Instance3.r_State_RNO 5 12 5 # SB_LUT4 (LogicCell: Instance3.r_State_LC_91)
set_location Instance3.r_State 5 12 5 # SB_DFF (LogicCell: Instance3.r_State_LC_91)
set_location Instance3.r_State_RNO_0 7 9 4 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_0_LC_92)
set_location Instance3.r_State_RNO_1 7 10 2 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_1_LC_93)
set_location Instance3.r_State_RNO_2 7 10 0 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_2_LC_94)
set_location Instance3.r_State_RNO_3 7 9 3 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_3_LC_95)
set_location Instance3.r_State_RNO_4 7 10 1 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_4_LC_96)
set_location Instance3.r_State_RNO_5 7 10 3 # SB_LUT4 (LogicCell: Instance3.r_State_RNO_5_LC_97)
set_location Instance4.r_Count_RNIB0SU1[12] 7 8 5 # SB_LUT4 (LogicCell: Instance4.r_Count_RNIB0SU1[12]_LC_98)
set_location Instance4.r_Count_RNIOCNR[8] 7 8 4 # SB_LUT4 (LogicCell: Instance4.r_Count_RNIOCNR[8]_LC_99)
set_location Instance4.r_Count_RNIQHQE[4] 7 7 4 # SB_LUT4 (LogicCell: Instance4.r_Count_RNIQHQE[4]_LC_100)
set_location Instance4.r_Count_RNIUFK81[17] 7 8 2 # SB_LUT4 (LogicCell: Instance4.r_Count_RNIUFK81[17]_LC_101)
set_location Instance4.r_Count_RNO[0] 6 6 1 # SB_LUT4 (LogicCell: Instance4.r_Count[0]_LC_102)
set_location Instance4.r_Count[0] 6 6 1 # SB_DFFSR (LogicCell: Instance4.r_Count[0]_LC_102)
set_location Instance4.r_Count_RNO[1] 6 6 0 # SB_LUT4 (LogicCell: Instance4.r_Count[1]_LC_103)
set_location Instance4.r_Count[1] 6 6 0 # SB_DFFSR (LogicCell: Instance4.r_Count[1]_LC_103)
set_location Instance4.r_Count_RNO[10] 6 8 1 # SB_LUT4 (LogicCell: Instance4.r_Count[10]_LC_104)
set_location Instance4.r_Count[10] 6 8 1 # SB_DFFSR (LogicCell: Instance4.r_Count[10]_LC_104)
set_location Instance4.r_Count_2_cry_10_c 6 8 1 # SB_CARRY (LogicCell: Instance4.r_Count[10]_LC_104)
set_location Instance4.r_Count_RNO[11] 6 8 2 # SB_LUT4 (LogicCell: Instance4.r_Count[11]_LC_105)
set_location Instance4.r_Count[11] 6 8 2 # SB_DFFSR (LogicCell: Instance4.r_Count[11]_LC_105)
set_location Instance4.r_Count_2_cry_11_c 6 8 2 # SB_CARRY (LogicCell: Instance4.r_Count[11]_LC_105)
set_location Instance4.r_Count_RNO[12] 6 8 3 # SB_LUT4 (LogicCell: Instance4.r_Count[12]_LC_106)
set_location Instance4.r_Count[12] 6 8 3 # SB_DFFSR (LogicCell: Instance4.r_Count[12]_LC_106)
set_location Instance4.r_Count_2_cry_12_c 6 8 3 # SB_CARRY (LogicCell: Instance4.r_Count[12]_LC_106)
set_location Instance4.r_Count_RNO[13] 6 8 4 # SB_LUT4 (LogicCell: Instance4.r_Count[13]_LC_107)
set_location Instance4.r_Count[13] 6 8 4 # SB_DFFSR (LogicCell: Instance4.r_Count[13]_LC_107)
set_location Instance4.r_Count_2_cry_13_c 6 8 4 # SB_CARRY (LogicCell: Instance4.r_Count[13]_LC_107)
set_location Instance4.r_Count_RNO[14] 6 8 5 # SB_LUT4 (LogicCell: Instance4.r_Count[14]_LC_108)
set_location Instance4.r_Count[14] 6 8 5 # SB_DFFSR (LogicCell: Instance4.r_Count[14]_LC_108)
set_location Instance4.r_Count_2_cry_14_c 6 8 5 # SB_CARRY (LogicCell: Instance4.r_Count[14]_LC_108)
set_location Instance4.r_Count_RNO[15] 6 8 6 # SB_LUT4 (LogicCell: Instance4.r_Count[15]_LC_109)
set_location Instance4.r_Count[15] 6 8 6 # SB_DFFSR (LogicCell: Instance4.r_Count[15]_LC_109)
set_location Instance4.r_Count_2_cry_15_c 6 8 6 # SB_CARRY (LogicCell: Instance4.r_Count[15]_LC_109)
set_location Instance4.r_Count_RNO[16] 6 8 7 # SB_LUT4 (LogicCell: Instance4.r_Count[16]_LC_110)
set_location Instance4.r_Count[16] 6 8 7 # SB_DFFSR (LogicCell: Instance4.r_Count[16]_LC_110)
set_location Instance4.r_Count_2_cry_16_c 6 8 7 # SB_CARRY (LogicCell: Instance4.r_Count[16]_LC_110)
set_location Instance4.r_Count_RNO[17] 6 9 0 # SB_LUT4 (LogicCell: Instance4.r_Count[17]_LC_111)
set_location Instance4.r_Count[17] 6 9 0 # SB_DFFSR (LogicCell: Instance4.r_Count[17]_LC_111)
set_location Instance4.r_Count_RNO[2] 6 7 1 # SB_LUT4 (LogicCell: Instance4.r_Count[2]_LC_112)
set_location Instance4.r_Count[2] 6 7 1 # SB_DFFSR (LogicCell: Instance4.r_Count[2]_LC_112)
set_location Instance4.r_Count_2_cry_2_c 6 7 1 # SB_CARRY (LogicCell: Instance4.r_Count[2]_LC_112)
set_location Instance4.r_Count_RNO[3] 6 7 2 # SB_LUT4 (LogicCell: Instance4.r_Count[3]_LC_113)
set_location Instance4.r_Count[3] 6 7 2 # SB_DFFSR (LogicCell: Instance4.r_Count[3]_LC_113)
set_location Instance4.r_Count_2_cry_3_c 6 7 2 # SB_CARRY (LogicCell: Instance4.r_Count[3]_LC_113)
set_location Instance4.r_Count_RNO[4] 6 7 3 # SB_LUT4 (LogicCell: Instance4.r_Count[4]_LC_114)
set_location Instance4.r_Count[4] 6 7 3 # SB_DFFSR (LogicCell: Instance4.r_Count[4]_LC_114)
set_location Instance4.r_Count_2_cry_4_c 6 7 3 # SB_CARRY (LogicCell: Instance4.r_Count[4]_LC_114)
set_location Instance4.r_Count_RNO[5] 6 7 4 # SB_LUT4 (LogicCell: Instance4.r_Count[5]_LC_115)
set_location Instance4.r_Count[5] 6 7 4 # SB_DFFSR (LogicCell: Instance4.r_Count[5]_LC_115)
set_location Instance4.r_Count_2_cry_5_c 6 7 4 # SB_CARRY (LogicCell: Instance4.r_Count[5]_LC_115)
set_location Instance4.r_Count_RNO[6] 6 7 5 # SB_LUT4 (LogicCell: Instance4.r_Count[6]_LC_116)
set_location Instance4.r_Count[6] 6 7 5 # SB_DFFSR (LogicCell: Instance4.r_Count[6]_LC_116)
set_location Instance4.r_Count_2_cry_6_c 6 7 5 # SB_CARRY (LogicCell: Instance4.r_Count[6]_LC_116)
set_location Instance4.r_Count_RNO[7] 6 7 6 # SB_LUT4 (LogicCell: Instance4.r_Count[7]_LC_117)
set_location Instance4.r_Count[7] 6 7 6 # SB_DFFSR (LogicCell: Instance4.r_Count[7]_LC_117)
set_location Instance4.r_Count_2_cry_7_c 6 7 6 # SB_CARRY (LogicCell: Instance4.r_Count[7]_LC_117)
set_location Instance4.r_Count_RNO[8] 6 7 7 # SB_LUT4 (LogicCell: Instance4.r_Count[8]_LC_118)
set_location Instance4.r_Count[8] 6 7 7 # SB_DFFSR (LogicCell: Instance4.r_Count[8]_LC_118)
set_location Instance4.r_Count_2_cry_8_c 6 7 7 # SB_CARRY (LogicCell: Instance4.r_Count[8]_LC_118)
set_location Instance4.r_Count_RNO[9] 6 8 0 # SB_LUT4 (LogicCell: Instance4.r_Count[9]_LC_119)
set_location Instance4.r_Count[9] 6 8 0 # SB_DFFSR (LogicCell: Instance4.r_Count[9]_LC_119)
set_location Instance4.r_Count_2_cry_9_c 6 8 0 # SB_CARRY (LogicCell: Instance4.r_Count[9]_LC_119)
set_location Instance4.r_State_RNI4ONP3 7 8 6 # SB_LUT4 (LogicCell: Instance4.r_State_RNI4ONP3_LC_120)
set_location Instance4.r_State_RNO 7 8 1 # SB_LUT4 (LogicCell: Instance4.r_State_LC_121)
set_location Instance4.r_State 7 8 1 # SB_DFF (LogicCell: Instance4.r_State_LC_121)
set_location Instance4.r_State_RNO_0 7 7 6 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_0_LC_122)
set_location Instance4.r_State_RNO_1 7 8 0 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_1_LC_123)
set_location Instance4.r_State_RNO_2 7 8 3 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_2_LC_124)
set_location Instance4.r_State_RNO_3 7 7 5 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_3_LC_125)
set_location Instance4.r_State_RNO_4 7 7 1 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_4_LC_126)
set_location Instance4.r_State_RNO_5 7 8 7 # SB_LUT4 (LogicCell: Instance4.r_State_RNO_5_LC_127)
set_location SegInst1.r_HexEncode_2_6_0_.m10 1 14 5 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[1]_LC_128)
set_location SegInst1.r_HexEncode_i[1] 1 14 5 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[1]_LC_128)
set_location SegInst1.r_HexEncode_2_6_0_.m14 6 14 4 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[2]_LC_129)
set_location SegInst1.r_HexEncode_i[2] 6 14 4 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[2]_LC_129)
set_location SegInst1.r_HexEncode_2_6_0_.m26 1 13 2 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[6]_LC_130)
set_location SegInst1.r_HexEncode_i[6] 1 13 2 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[6]_LC_130)
set_location SegInst1.r_HexEncode_2_6_0_.m5 1 14 0 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[0]_LC_131)
set_location SegInst1.r_HexEncode_i[0] 1 14 0 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[0]_LC_131)
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[3] 6 14 0 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[3]_LC_132)
set_location SegInst1.r_HexEncode_i[3] 6 14 0 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[3]_LC_132)
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[4] 5 14 5 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[4]_LC_133)
set_location SegInst1.r_HexEncode_i[4] 5 14 5 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[4]_LC_133)
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[5] 1 13 4 # SB_LUT4 (LogicCell: SegInst1.r_HexEncode_i[5]_LC_134)
set_location SegInst1.r_HexEncode_i[5] 1 13 4 # SB_DFF (LogicCell: SegInst1.r_HexEncode_i[5]_LC_134)
set_location SegInst2.r_HexEncode_2_6_0_.m10 1 13 3 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[1]_LC_135)
set_location SegInst2.r_HexEncode_i[1] 1 13 3 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[1]_LC_135)
set_location SegInst2.r_HexEncode_2_6_0_.m14 2 16 4 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[2]_LC_136)
set_location SegInst2.r_HexEncode_i[2] 2 16 4 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[2]_LC_136)
set_location SegInst2.r_HexEncode_2_6_0_.m26 1 16 3 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[6]_LC_137)
set_location SegInst2.r_HexEncode_i[6] 1 16 3 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[6]_LC_137)
set_location SegInst2.r_HexEncode_2_6_0_.m5 2 16 3 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[0]_LC_138)
set_location SegInst2.r_HexEncode_i[0] 2 16 3 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[0]_LC_138)
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[3] 2 16 5 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[3]_LC_139)
set_location SegInst2.r_HexEncode_i[3] 2 16 5 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[3]_LC_139)
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[4] 2 16 2 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[4]_LC_140)
set_location SegInst2.r_HexEncode_i[4] 2 16 2 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[4]_LC_140)
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[5] 2 16 6 # SB_LUT4 (LogicCell: SegInst2.r_HexEncode_i[5]_LC_141)
set_location SegInst2.r_HexEncode_i[5] 2 16 6 # SB_DFF (LogicCell: SegInst2.r_HexEncode_i[5]_LC_141)
set_location alogicunit.m17 4 14 5 # SB_LUT4 (LogicCell: alogicunit.m17_LC_142)
set_location alogicunit.m26 4 14 0 # SB_LUT4 (LogicCell: alogicunit.m26_LC_143)
set_location alogicunit.m26_l_fx 4 13 5 # SB_LUT4 (LogicCell: alogicunit.m26_l_fx_LC_144)
set_location alogicunit.m26_l_fx_0 4 13 0 # SB_LUT4 (LogicCell: alogicunit.m26_l_fx_0_LC_145)
set_location alogicunit.m34 5 14 6 # SB_LUT4 (LogicCell: alogicunit.m34_LC_146)
set_location alogicunit.result24_i 5 14 7 # SB_LUT4 (LogicCell: alogicunit.result24_i_LC_147)
set_location alogicunit.result_13_iv_2_182_i_a2 5 14 0 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_2_182_i_a2_LC_148)
set_location alogicunit.result_13_iv_2_182_i_o4 4 14 6 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_2_182_i_o4_LC_149)
set_location alogicunit.result_13_iv_3_140_i_a4_1 4 11 0 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_3_140_i_a4_1_LC_150)
set_location alogicunit.result_13_iv_4_98_i_o4 5 12 2 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_4_98_i_o4_LC_151)
set_location alogicunit.result_13_iv_5_56_i_o4 4 14 2 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_5_56_i_o4_LC_152)
set_location alogicunit.result_13_iv_6_14_i_o4 5 11 6 # SB_LUT4 (LogicCell: alogicunit.result_13_iv_6_14_i_o4_LC_153)
set_location alogicunit.result_RNO[0] 4 11 1 # SB_LUT4 (LogicCell: alogicunit.result[0]_LC_154)
set_location alogicunit.result[0] 4 11 1 # SB_DFFE (LogicCell: alogicunit.result[0]_LC_154)
set_location alogicunit.result_RNO_0[4] 4 12 3 # SB_LUT4 (LogicCell: alogicunit.result_RNO_0[4]_LC_155)
set_location alogicunit.un1_a_1_cry_4_c 4 12 3 # SB_CARRY (LogicCell: alogicunit.result_RNO_0[4]_LC_155)
set_location alogicunit.result_RNO_0[5] 4 12 4 # SB_LUT4 (LogicCell: alogicunit.result_RNO_0[5]_LC_156)
set_location alogicunit.un1_a_1_cry_5_c 4 12 4 # SB_CARRY (LogicCell: alogicunit.result_RNO_0[5]_LC_156)
set_location alogicunit.result_RNO_0[6] 4 12 5 # SB_LUT4 (LogicCell: alogicunit.result_RNO_0[6]_LC_157)
set_location alogicunit.un1_a_1_cry_6_c 4 12 5 # SB_CARRY (LogicCell: alogicunit.result_RNO_0[6]_LC_157)
set_location alogicunit.result_RNO[1] 2 12 0 # SB_LUT4 (LogicCell: alogicunit.result[1]_LC_158)
set_location alogicunit.result[1] 2 12 0 # SB_DFFE (LogicCell: alogicunit.result[1]_LC_158)
set_location alogicunit.result_RNO[2] 4 11 4 # SB_LUT4 (LogicCell: alogicunit.result[2]_LC_159)
set_location alogicunit.result[2] 4 11 4 # SB_DFFE (LogicCell: alogicunit.result[2]_LC_159)
set_location alogicunit.result_RNO[3] 4 11 2 # SB_LUT4 (LogicCell: alogicunit.result[3]_LC_160)
set_location alogicunit.result[3] 4 11 2 # SB_DFFE (LogicCell: alogicunit.result[3]_LC_160)
set_location alogicunit.result_RNO[4] 5 13 0 # SB_LUT4 (LogicCell: alogicunit.result[4]_LC_161)
set_location alogicunit.result[4] 5 13 0 # SB_DFFE (LogicCell: alogicunit.result[4]_LC_161)
set_location alogicunit.result_RNO[5] 2 12 2 # SB_LUT4 (LogicCell: alogicunit.result[5]_LC_162)
set_location alogicunit.result[5] 2 12 2 # SB_DFFE (LogicCell: alogicunit.result[5]_LC_162)
set_location alogicunit.result_RNO[6] 5 13 1 # SB_LUT4 (LogicCell: alogicunit.result[6]_LC_163)
set_location alogicunit.result[6] 5 13 1 # SB_DFFE (LogicCell: alogicunit.result[6]_LC_163)
set_location alogicunit.result_RNO[7] 4 12 6 # SB_LUT4 (LogicCell: alogicunit.result[7]_LC_164)
set_location alogicunit.result[7] 4 12 6 # SB_DFFE (LogicCell: alogicunit.result[7]_LC_164)
set_location alogicunit.un1_a_1_cry_1_c_inv 5 13 4 # SB_LUT4 (LogicCell: alogicunit.un1_a_1_cry_1_c_inv_LC_165)
set_location alogicunit.un1_a_1_cry_3_c_inv 4 14 1 # SB_LUT4 (LogicCell: alogicunit.un1_a_1_cry_3_c_inv_LC_166)
set_location click1_RNO 5 12 1 # SB_LUT4 (LogicCell: click1_LC_167)
set_location click1 5 12 1 # SB_DFF (LogicCell: click1_LC_167)
set_location cu1.track_RNI9MAL_0[1] 4 14 7 # SB_LUT4 (LogicCell: cu1.track_RNI9MAL_0[1]_LC_168)
set_location cu1.track_RNI9MAL[1] 4 14 4 # SB_LUT4 (LogicCell: cu1.track_RNI9MAL[1]_LC_169)
set_location cu1.track_RNIVBP9[1] 4 14 3 # SB_LUT4 (LogicCell: cu1.track_RNIVBP9[1]_LC_170)
set_location cu1.track_RNO[0] 5 14 1 # SB_LUT4 (LogicCell: cu1.track[0]_LC_171)
set_location cu1.track[0] 5 14 1 # SB_DFF (LogicCell: cu1.track[0]_LC_171)
set_location cu1.track_RNO[1] 5 14 2 # SB_LUT4 (LogicCell: cu1.track[1]_LC_172)
set_location cu1.track[1] 5 14 2 # SB_DFF (LogicCell: cu1.track[1]_LC_172)
set_location cu1.track_RNO[2] 5 14 3 # SB_LUT4 (LogicCell: cu1.track[2]_LC_173)
set_location cu1.track[2] 5 14 3 # SB_DFF (LogicCell: cu1.track[2]_LC_173)
set_location r_Count_RNO[0] 4 10 7 # SB_LUT4 (LogicCell: r_Count[0]_LC_174)
set_location r_Count[0] 4 10 7 # SB_DFF (LogicCell: r_Count[0]_LC_174)
set_location r_Count_RNO[1] 4 10 3 # SB_LUT4 (LogicCell: r_Count[1]_LC_175)
set_location r_Count[1] 4 10 3 # SB_DFF (LogicCell: r_Count[1]_LC_175)
set_location r_Count_RNO[3] 4 10 5 # SB_LUT4 (LogicCell: r_Count[3]_LC_176)
set_location r_Count[3] 4 10 5 # SB_DFF (LogicCell: r_Count[3]_LC_176)
set_location r_Switch_2_RNIK7A11 1 12 2 # SB_LUT4 (LogicCell: r_Switch_2_RNIK7A11_LC_177)
set_location sevsegl_RNO[0] 2 13 7 # SB_LUT4 (LogicCell: sevsegl[0]_LC_178)
set_location sevsegl[0] 2 13 7 # SB_DFFE (LogicCell: sevsegl[0]_LC_178)
set_location sevsegl_RNO_0[0] 2 12 7 # SB_LUT4 (LogicCell: sevsegl_RNO_0[0]_LC_179)
set_location sevsegl_RNO_0[1] 4 13 6 # SB_LUT4 (LogicCell: sevsegl_RNO_0[1]_LC_180)
set_location sevsegl_RNO_0[2] 1 12 5 # SB_LUT4 (LogicCell: sevsegl_RNO_0[2]_LC_181)
set_location sevsegl_RNO_0[3] 4 13 7 # SB_LUT4 (LogicCell: sevsegl_RNO_0[3]_LC_182)
set_location sevsegl_RNO[1] 2 13 4 # SB_LUT4 (LogicCell: sevsegl[1]_LC_183)
set_location sevsegl[1] 2 13 4 # SB_DFFE (LogicCell: sevsegl[1]_LC_183)
set_location sevsegl_RNO_1[1] 2 12 3 # SB_LUT4 (LogicCell: sevsegl_RNO_1[1]_LC_184)
set_location sevsegl_RNO_1[2] 1 13 0 # SB_LUT4 (LogicCell: sevsegl_RNO_1[2]_LC_185)
set_location sevsegl_RNO_1[3] 2 12 5 # SB_LUT4 (LogicCell: sevsegl_RNO_1[3]_LC_186)
set_location sevsegl_RNO[2] 1 12 6 # SB_LUT4 (LogicCell: sevsegl[2]_LC_187)
set_location sevsegl[2] 1 12 6 # SB_DFFE (LogicCell: sevsegl[2]_LC_187)
set_location sevsegl_RNO[3] 2 13 0 # SB_LUT4 (LogicCell: sevsegl[3]_LC_188)
set_location sevsegl[3] 2 13 0 # SB_DFFE (LogicCell: sevsegl[3]_LC_188)
set_location sevsegr_RNO[0] 2 13 5 # SB_LUT4 (LogicCell: sevsegr[0]_LC_189)
set_location sevsegr[0] 2 13 5 # SB_DFFE (LogicCell: sevsegr[0]_LC_189)
set_location sevsegr_RNO_0[0] 1 13 1 # SB_LUT4 (LogicCell: sevsegr_RNO_0[0]_LC_190)
set_location sevsegr_RNO_0[1] 4 13 3 # SB_LUT4 (LogicCell: sevsegr_RNO_0[1]_LC_191)
set_location sevsegr_RNO_0[2] 4 13 2 # SB_LUT4 (LogicCell: sevsegr_RNO_0[2]_LC_192)
set_location sevsegr_RNO_0[3] 2 12 6 # SB_LUT4 (LogicCell: sevsegr_RNO_0[3]_LC_193)
set_location sevsegr_RNO[1] 2 13 1 # SB_LUT4 (LogicCell: sevsegr[1]_LC_194)
set_location sevsegr[1] 2 13 1 # SB_DFFE (LogicCell: sevsegr[1]_LC_194)
set_location sevsegr_RNO_1[1] 2 12 4 # SB_LUT4 (LogicCell: sevsegr_RNO_1[1]_LC_195)
set_location sevsegr_RNO_1[2] 1 13 7 # SB_LUT4 (LogicCell: sevsegr_RNO_1[2]_LC_196)
set_location sevsegr_RNO_1[3] 4 11 3 # SB_LUT4 (LogicCell: sevsegr_RNO_1[3]_LC_197)
set_location sevsegr_RNO[2] 2 13 2 # SB_LUT4 (LogicCell: sevsegr[2]_LC_198)
set_location sevsegr[2] 2 13 2 # SB_DFFE (LogicCell: sevsegr[2]_LC_198)
set_location sevsegr_RNO[3] 2 13 3 # SB_LUT4 (LogicCell: sevsegr[3]_LC_199)
set_location sevsegr[3] 2 13 3 # SB_DFFE (LogicCell: sevsegr[3]_LC_199)
set_location Instance2.SUM_2_r_Count_e_0_2_REP_LUT4_0 4 15 0 # SB_LUT4 (LogicCell: r_Count_e_0[2]_LC_200)
set_location r_Count_e_0[2] 4 15 0 # SB_DFFE (LogicCell: r_Count_e_0[2]_LC_200)
set_location alogicunit.m26_alogicunit.negative_e_REP_LUT4_0 4 11 6 # SB_LUT4 (LogicCell: alogicunit.negative_e_LC_201)
set_location alogicunit.negative_e 4 11 6 # SB_DFFE (LogicCell: alogicunit.negative_e_LC_201)
set_location cu1.track_RNIVBP9_1_cu1.track_e_0_3_REP_LUT4_0 5 15 1 # SB_LUT4 (LogicCell: cu1.track_e_0[3]_LC_202)
set_location cu1.track_e_0[3] 5 15 1 # SB_DFFE (LogicCell: cu1.track_e_0[3]_LC_202)
set_location o_LED_1_1_THRU_LUT4_0 8 8 4 # SB_LUT4 (LogicCell: o_LED_1_1_LC_203)
set_location o_LED_1_1 8 8 4 # SB_DFF (LogicCell: o_LED_1_1_LC_203)
set_location r_Switch_1_THRU_LUT4_0 1 11 0 # SB_LUT4 (LogicCell: r_Switch_1_LC_204)
set_location r_Switch_1 1 11 0 # SB_DFF (LogicCell: r_Switch_1_LC_204)
set_location r_Switch_2_THRU_LUT4_0 5 12 3 # SB_LUT4 (LogicCell: r_Switch_2_LC_205)
set_location r_Switch_2 5 12 3 # SB_DFF (LogicCell: r_Switch_2_LC_205)
set_location r_Switch_3_THRU_LUT4_0 4 13 4 # SB_LUT4 (LogicCell: r_Switch_3_LC_206)
set_location r_Switch_3 4 13 4 # SB_DFF (LogicCell: r_Switch_3_LC_206)
set_location r_Switch_4_THRU_LUT4_0 5 12 4 # SB_LUT4 (LogicCell: r_Switch_4_LC_207)
set_location r_Switch_4 5 12 4 # SB_DFF (LogicCell: r_Switch_4_LC_207)
set_location alogicunit.un1_a_1_cry_1_THRU_LUT4_0 4 12 1 # SB_LUT4 (LogicCell: alogicunit.un1_a_1_cry_1_THRU_LUT4_0_LC_208)
set_location alogicunit.un1_a_1_cry_2_c 4 12 1 # SB_CARRY (LogicCell: alogicunit.un1_a_1_cry_1_THRU_LUT4_0_LC_208)
set_location alogicunit.un1_a_1_cry_2_THRU_LUT4_0 4 12 2 # SB_LUT4 (LogicCell: alogicunit.un1_a_1_cry_2_THRU_LUT4_0_LC_209)
set_location alogicunit.un1_a_1_cry_3_c 4 12 2 # SB_CARRY (LogicCell: alogicunit.un1_a_1_cry_2_THRU_LUT4_0_LC_209)
set_location Instance1.r_Count_2_cry_1_c 2 9 0 # SB_CARRY (LogicCell: Instance1.r_Count_2_cry_1_c_LC_210)
set_location Instance2.r_Count_2_cry_1_c 6 10 0 # SB_CARRY (LogicCell: Instance2.r_Count_2_cry_1_c_LC_211)
set_location Instance3.r_Count_2_cry_1_c 8 9 0 # SB_CARRY (LogicCell: Instance3.r_Count_2_cry_1_c_LC_212)
set_location Instance4.r_Count_2_cry_1_c 6 7 0 # SB_CARRY (LogicCell: Instance4.r_Count_2_cry_1_c_LC_213)
set_location alogicunit.un1_a_1_cry_1_c 4 12 0 # SB_CARRY (LogicCell: alogicunit.un1_a_1_cry_1_c_LC_214)
set_location GND -1 -1 -1 # GND
set_io Instance1.r_State_RNIK9757_0 0 8 1 # ICE_GB
set_io Instance2.r_State_RNI4PC15_0 6 17 1 # ICE_GB
set_io Instance3.r_State_RNIK8IT5_0 13 9 0 # ICE_GB
set_io Instance4.r_State_RNI4ONP3_0 7 0 0 # ICE_GB
set_io i_Clk_ibuf_gb_io 0 8 1 # ICE_GB_IO
set_io i_Switch_1_ibuf 13 4 1 # ICE_IO
set_io i_Switch_2_ibuf 13 3 1 # ICE_IO
set_io i_Switch_3_ibuf 13 6 0 # ICE_IO
set_io i_Switch_4_ibuf 13 4 0 # ICE_IO
set_io o_LED_1_obuf 13 6 1 # ICE_IO
set_io o_LED_2_obuf 13 7 0 # ICE_IO
set_io o_LED_3_obuf 13 7 1 # ICE_IO
set_io o_LED_4_obuf 13 8 0 # ICE_IO
set_io o_Segment1_A_obuf 0 13 1 # ICE_IO
set_io o_Segment1_B_obuf 0 13 0 # ICE_IO
set_io o_Segment1_C_obuf 5 17 1 # ICE_IO
set_io o_Segment1_D_obuf 6 17 0 # ICE_IO
set_io o_Segment1_E_obuf 6 17 1 # ICE_IO
set_io o_Segment1_F_obuf 0 14 1 # ICE_IO
set_io o_Segment1_G_obuf 0 14 0 # ICE_IO
set_io o_Segment2_A_obuf 1 17 1 # ICE_IO
set_io o_Segment2_B_obuf 2 17 1 # ICE_IO
set_io o_Segment2_C_obuf 3 17 1 # ICE_IO
set_io o_Segment2_D_obuf 4 17 1 # ICE_IO
set_io o_Segment2_E_obuf 5 17 0 # ICE_IO
set_io o_Segment2_F_obuf 0 12 0 # ICE_IO
set_io o_Segment2_G_obuf 4 17 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 6 13 3 # SB_LUT4 (LogicCell: LC_215)
