set_location IN_MUX_bfv_4_12_0_ 4 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_7_0_ 6 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_8_0_ 6 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_10_0_ 8 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_11_0_ 8 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_11_0_ 6 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_12_0_ 6 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_10_0_ 2 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_11_0_ 2 11 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 6 13 3 #SB_LUT4
set_location alogicunit.un1_a_1_cry_2_THRU_LUT4_0 4 12 2 #SB_LUT4
set_location alogicunit.un1_a_1_cry_1_THRU_LUT4_0 4 12 1 #SB_LUT4
set_location r_Switch_4_THRU_LUT4_0 5 12 4 #SB_LUT4
set_location r_Switch_3_THRU_LUT4_0 4 13 4 #SB_LUT4
set_location r_Switch_2_THRU_LUT4_0 5 12 3 #SB_LUT4
set_location r_Switch_1_THRU_LUT4_0 1 11 0 #SB_LUT4
set_location o_LED_1_1_THRU_LUT4_0 8 8 4 #SB_LUT4
set_location cu1.track_RNIVBP9_1_cu1.track_e_0_3_REP_LUT4_0 5 15 1 #SB_LUT4
set_location alogicunit.m26_alogicunit.negative_e_REP_LUT4_0 4 11 6 #SB_LUT4
set_location Instance2.SUM_2_r_Count_e_0_2_REP_LUT4_0 4 15 0 #SB_LUT4
set_location SegInst1.r_HexEncode_i[4] 5 14 5 #SB_DFF
set_location Instance1.r_Count_RNO[7] 2 9 6 #SB_LUT4
set_location alogicunit.result_RNO_0[5] 4 12 4 #SB_LUT4
set_location alogicunit.result[6] 5 13 1 #SB_DFFE
set_location Instance1.r_Count[7] 2 9 6 #SB_DFFSR
set_location cu1.track_RNO[2] 5 14 3 #SB_LUT4
set_location cu1.track_RNI9MAL[1] 4 14 4 #SB_LUT4
set_location Instance3.r_Count_2_cry_13_c 8 10 4 #SB_CARRY
set_location Instance2.r_Count_RNO[13] 6 11 4 #SB_LUT4
set_location Instance2.r_Count[17] 6 12 0 #SB_DFFSR
set_location Instance2.r_Count[3] 6 10 2 #SB_DFFSR
set_location alogicunit.result_RNO[7] 4 12 6 #SB_LUT4
set_location alogicunit.result_13_iv_6_14_i_o4 5 11 6 #SB_LUT4
set_location Instance4.r_State_RNO_0 7 7 6 #SB_LUT4
set_location Instance4.r_Count_RNIB0SU1[12] 7 8 5 #SB_LUT4
set_location Instance3.r_State_RNIK8IT5 7 9 1 #SB_LUT4
set_location Instance1.r_Count_2_cry_15_c 2 10 6 #SB_CARRY
set_location sevsegl_RNO[1] 2 13 4 #SB_LUT4
set_location Instance1.r_Count_RNO[9] 2 10 0 #SB_LUT4
set_location r_Switch_4 5 12 4 #SB_DFF
set_location Instance3.r_Count_2_cry_2_c 8 9 1 #SB_CARRY
set_location Instance1.r_Count_RNO[15] 2 10 6 #SB_LUT4
set_location Instance1.r_Count_2_cry_14_c 2 10 5 #SB_CARRY
set_location Instance3.r_State_RNO_3 7 9 3 #SB_LUT4
set_location sevsegr_RNO[2] 2 13 2 #SB_LUT4
set_location sevsegr_RNO_0[2] 4 13 2 #SB_LUT4
set_location sevsegl_RNO_0[3] 4 13 7 #SB_LUT4
set_location Instance4.r_Count[11] 6 8 2 #SB_DFFSR
set_location Instance3.r_Count_RNO[2] 8 9 1 #SB_LUT4
set_location Instance1.r_State_RNO_1 1 11 6 #SB_LUT4
set_location SegInst2.r_HexEncode_i[1] 1 13 3 #SB_DFF
set_location Instance4.r_State 7 8 1 #SB_DFF
set_location Instance4.r_Count_RNO[2] 6 7 1 #SB_LUT4
set_location Instance3.r_Count_RNO[17] 8 11 0 #SB_LUT4
set_location Instance2.r_Count_2_cry_12_c 6 11 3 #SB_CARRY
set_location Instance2.r_Count_2_cry_4_c 6 10 3 #SB_CARRY
set_location sevsegl_RNO_1[3] 2 12 5 #SB_LUT4
set_location alogicunit.result_RNO_0[6] 4 12 5 #SB_LUT4
set_location alogicunit.result[5] 2 12 2 #SB_DFFE
set_location Instance3.r_Count_RNIKU3I1[10] 7 9 7 #SB_LUT4
set_location Instance1.r_Count_2_cry_4_c 2 9 3 #SB_CARRY
set_location Instance1.r_Count[2] 2 9 1 #SB_DFFSR
set_location cu1.track_RNO[1] 5 14 2 #SB_LUT4
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[3] 2 16 5 #SB_LUT4
set_location Instance4.r_Count_RNO[17] 6 9 0 #SB_LUT4
set_location Instance2.r_Count[12] 6 11 3 #SB_DFFSR
set_location Instance2.r_Count[0] 6 12 5 #SB_DFFSR
set_location Instance3.r_Count_RNO[8] 8 9 7 #SB_LUT4
set_location Instance3.r_Count[3] 8 9 2 #SB_DFFSR
set_location Instance3.r_Count_2_cry_15_c 8 10 6 #SB_CARRY
set_location Instance3.r_Count[13] 8 10 4 #SB_DFFSR
set_location Instance2.r_State_RNO_4 5 11 5 #SB_LUT4
set_location Instance1.r_Count_RNO[16] 2 10 7 #SB_LUT4
set_location r_Count[0] 4 10 7 #SB_DFF
set_location Instance2.r_Count_RNO[14] 6 11 5 #SB_LUT4
set_location Instance4.r_Count[14] 6 8 5 #SB_DFFSR
set_location Instance3.r_Count_RNO[5] 8 9 4 #SB_LUT4
set_location Instance1.r_State_RNO_4 1 10 2 #SB_LUT4
set_location Instance1.r_State_RNIPV6C 1 11 1 #SB_LUT4
set_location Instance1.r_Count_2_cry_12_c 2 10 3 #SB_CARRY
set_location Instance1.r_Count[16] 2 10 7 #SB_DFFSR
set_location alogicunit.result_RNO[0] 4 11 1 #SB_LUT4
set_location Instance4.r_Count_RNO[7] 6 7 6 #SB_LUT4
set_location Instance3.r_Count_RNO[14] 8 10 5 #SB_LUT4
set_location Instance3.r_Count_2_cry_5_c 8 9 4 #SB_CARRY
set_location Instance2.r_Count_RNO[4] 6 10 3 #SB_LUT4
set_location Instance1.r_State_RNIK9757 1 9 6 #SB_LUT4
set_location SegInst1.r_HexEncode_2_6_0_.m5 1 14 0 #SB_LUT4
set_location Instance4.r_Count[3] 6 7 2 #SB_DFFSR
set_location r_Count_RNO[3] 4 10 5 #SB_LUT4
set_location Instance4.r_Count_RNO[12] 6 8 3 #SB_LUT4
set_location Instance2.r_Count[11] 6 11 2 #SB_DFFSR
set_location Instance1.r_State 1 11 7 #SB_DFF
set_location cu1.track[1] 5 14 2 #SB_DFF
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[4] 5 14 5 #SB_LUT4
set_location Instance2.r_Count[5] 6 10 4 #SB_DFFSR
set_location Instance2.r_Count_2_cry_15_c 6 11 6 #SB_CARRY
set_location alogicunit.result_13_iv_4_98_i_o4 5 12 2 #SB_LUT4
set_location alogicunit.m26 4 14 0 #SB_LUT4
set_location Instance4.r_Count_RNIQHQE[4] 7 7 4 #SB_LUT4
set_location Instance3.r_Count[6] 8 9 5 #SB_DFFSR
set_location Instance1.r_Count_2_cry_3_c 2 9 2 #SB_CARRY
set_location Instance4.r_Count_RNO[9] 6 8 0 #SB_LUT4
set_location Instance4.r_Count[9] 6 8 0 #SB_DFFSR
set_location Instance1.r_Count_RNO[3] 2 9 2 #SB_LUT4
set_location sevsegr[1] 2 13 1 #SB_DFFE
set_location alogicunit.result[2] 4 11 4 #SB_DFFE
set_location Instance3.r_Count[14] 8 10 5 #SB_DFFSR
set_location Instance2.r_State_RNO_1 5 11 0 #SB_LUT4
set_location r_Count[3] 4 10 5 #SB_DFF
set_location Instance2.r_Count_RNO[17] 6 12 0 #SB_LUT4
set_location Instance4.r_Count[17] 6 9 0 #SB_DFFSR
set_location Instance2.r_Count_2_cry_10_c 6 11 1 #SB_CARRY
set_location Instance1.r_Count[13] 2 10 4 #SB_DFFSR
set_location alogicunit.result_RNO[3] 4 11 2 #SB_LUT4
set_location Instance4.r_State_RNO_4 7 7 1 #SB_LUT4
set_location Instance4.r_Count_RNO[4] 6 7 3 #SB_LUT4
set_location Instance3.r_Count[8] 8 9 7 #SB_DFFSR
set_location Instance2.r_Count_RNO[1] 6 12 6 #SB_LUT4
set_location sevsegr_RNO_1[1] 2 12 4 #SB_LUT4
set_location Instance4.r_Count[4] 6 7 3 #SB_DFFSR
set_location Instance1.r_Count_RNIIVNV1[17] 1 10 0 #SB_LUT4
set_location Instance1.r_Count_RNID9RS4[12] 1 9 5 #SB_LUT4
set_location Instance1.r_Count[8] 2 9 7 #SB_DFFSR
set_location Instance4.r_Count_RNO[11] 6 8 2 #SB_LUT4
set_location Instance2.r_Count11 4 10 6 #SB_LUT4
set_location Instance1.r_Count_RNO[11] 2 10 2 #SB_LUT4
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[3] 6 14 0 #SB_LUT4
set_location Instance4.r_Count_2_cry_2_c 6 7 1 #SB_CARRY
set_location Instance1.r_State_RNO 1 11 7 #SB_LUT4
set_location sevsegl[1] 2 13 4 #SB_DFFE
set_location alogicunit.un1_a_1_cry_3_c 4 12 2 #SB_CARRY
set_location Instance3.r_Count[5] 8 9 4 #SB_DFFSR
set_location SegInst2.r_HexEncode_i[5] 2 16 6 #SB_DFF
set_location Instance3.r_Count_RNO[13] 8 10 4 #SB_LUT4
set_location SegInst1.r_HexEncode_i[3] 6 14 0 #SB_DFF
set_location Instance1.r_Count_RNO[6] 2 9 5 #SB_LUT4
set_location alogicunit.result[1] 2 12 0 #SB_DFFE
set_location Instance4.r_Count_2_cry_15_c 6 8 6 #SB_CARRY
set_location Instance2.r_State_RNIHFHJ2 1 12 1 #SB_LUT4
set_location Instance1.r_Count[6] 2 9 5 #SB_DFFSR
set_location Instance2.r_State_RNIR73L 5 12 6 #SB_LUT4
set_location Instance2.r_Count_RNO[12] 6 11 3 #SB_LUT4
set_location Instance2.r_Count[16] 6 11 7 #SB_DFFSR
set_location Instance1.r_Count[10] 2 10 1 #SB_DFFSR
set_location alogicunit.result_RNO[6] 5 13 1 #SB_LUT4
set_location Instance4.r_State_RNO_1 7 8 0 #SB_LUT4
set_location Instance4.r_Count_2_cry_7_c 6 7 6 #SB_CARRY
set_location Instance4.r_Count_2_cry_12_c 6 8 3 #SB_CARRY
set_location Instance2.r_Count_RNO[2] 6 10 1 #SB_LUT4
set_location sevsegr_RNO_1[2] 1 13 7 #SB_LUT4
set_location sevsegl_RNO[2] 1 12 6 #SB_LUT4
set_location Instance2.r_Count_2_cry_16_c 6 11 7 #SB_CARRY
set_location Instance1.r_Count_RNO[8] 2 9 7 #SB_LUT4
set_location alogicunit.result_RNO[1] 2 12 0 #SB_LUT4
set_location Instance4.r_Count_RNO[6] 6 7 5 #SB_LUT4
set_location Instance2.r_Count_RNO[7] 6 10 6 #SB_LUT4
set_location Instance1.r_Count_RNO[12] 2 10 3 #SB_LUT4
set_location cu1.track_RNIVBP9[1] 4 14 3 #SB_LUT4
set_location Instance4.r_Count_RNIUFK81[17] 7 8 2 #SB_LUT4
set_location Instance4.r_Count_2_cry_5_c 6 7 4 #SB_CARRY
set_location Instance4.r_Count_2_cry_10_c 6 8 1 #SB_CARRY
set_location Instance4.r_Count[2] 6 7 1 #SB_DFFSR
set_location Instance3.r_State_RNO_2 7 10 0 #SB_LUT4
set_location Instance2.r_Count_RNINRGT2[12] 5 10 6 #SB_LUT4
set_location sevsegr_RNO[3] 2 13 3 #SB_LUT4
set_location sevsegr_RNO_0[1] 4 13 3 #SB_LUT4
set_location sevsegl_RNO_0[2] 1 12 5 #SB_LUT4
set_location sevsegl[2] 1 12 6 #SB_DFFE
set_location r_Count_RNO[0] 4 10 7 #SB_LUT4
set_location Instance4.r_Count[10] 6 8 1 #SB_DFFSR
set_location Instance3.r_Count_RNO[1] 9 10 1 #SB_LUT4
set_location Instance1.r_State_RNO_0 1 11 4 #SB_LUT4
set_location alogicunit.negative_e 4 11 6 #SB_DFFE
set_location SegInst2.r_HexEncode_i[2] 2 16 4 #SB_DFF
set_location Instance4.r_Count_RNO[3] 6 7 2 #SB_LUT4
set_location Instance4.r_Count_RNO[13] 6 8 4 #SB_LUT4
set_location Instance3.r_Count_RNO[10] 8 10 1 #SB_LUT4
set_location Instance2.r_Count_RNO[8] 6 10 7 #SB_LUT4
set_location cu1.track[2] 5 14 3 #SB_DFF
set_location alogicunit.un1_a_1_cry_5_c 4 12 4 #SB_CARRY
set_location SegInst1.r_HexEncode_i[6] 1 13 2 #SB_DFF
set_location SegInst1.r_HexEncode_2_6_0_.r_HexEncode_2_i[5] 1 13 4 #SB_LUT4
set_location SegInst1.r_HexEncode_2_6_0_.m26 1 13 2 #SB_LUT4
set_location Instance3.r_Count_2_cry_9_c 8 10 0 #SB_CARRY
set_location Instance3.r_Count_2_cry_12_c 8 10 3 #SB_CARRY
set_location Instance2.r_Count[4] 6 10 3 #SB_DFFSR
set_location Instance1.r_Count_RNO[5] 2 9 4 #SB_LUT4
set_location alogicunit.result[4] 5 13 0 #SB_DFFE
set_location alogicunit.m17 4 14 5 #SB_LUT4
set_location Instance3.r_Count[7] 8 9 6 #SB_DFFSR
set_location Instance1.r_Count[1] 1 10 5 #SB_DFFSR
set_location cu1.track_RNO[0] 5 14 1 #SB_LUT4
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[4] 2 16 2 #SB_LUT4
set_location SegInst2.r_HexEncode_2_6_0_.m10 1 13 3 #SB_LUT4
set_location Instance4.r_Count_RNO[8] 6 7 7 #SB_LUT4
set_location Instance4.r_Count_RNO[16] 6 8 7 #SB_LUT4
set_location Instance2.r_Count_RNIIPVO[4] 5 10 5 #SB_LUT4
set_location Instance2.r_Count[15] 6 11 6 #SB_DFFSR
set_location alogicunit.un1_a_1_cry_2_c 4 12 1 #SB_CARRY
set_location SegInst1.r_HexEncode_i[1] 1 14 5 #SB_DFF
set_location Instance4.r_Count[8] 6 7 7 #SB_DFFSR
set_location Instance2.r_Count[1] 6 12 6 #SB_DFFSR
set_location Instance1.r_Count_RNO[0] 2 11 2 #SB_LUT4
set_location Instance1.r_Count_2_cry_6_c 2 9 5 #SB_CARRY
set_location sevsegr[0] 2 13 5 #SB_DFFE
set_location alogicunit.result[3] 4 11 2 #SB_DFFE
set_location Instance4.r_State_RNO_2 7 8 3 #SB_LUT4
set_location Instance3.r_Count[2] 8 9 1 #SB_DFFSR
set_location Instance3.r_Count[17] 8 11 0 #SB_DFFSR
set_location Instance2.r_State_RNO_0 5 10 2 #SB_LUT4
set_location Instance1.r_Count[4] 2 9 3 #SB_DFFSR
set_location click1 5 12 1 #SB_DFF
set_location Instance4.r_State_RNI4ONP3 7 8 6 #SB_LUT4
set_location Instance3.r_Count_2_cry_3_c 8 9 2 #SB_CARRY
set_location Instance2.r_Count_RNO[10] 6 11 1 #SB_LUT4
set_location Instance2.r_Count_2_cry_6_c 6 10 5 #SB_CARRY
set_location Instance2.r_Count_RNIMF1O1[17] 5 12 0 #SB_LUT4
set_location Instance1.r_Count_2_cry_13_c 2 10 4 #SB_CARRY
set_location Instance1.r_Count[12] 2 10 3 #SB_DFFSR
set_location alogicunit.result_RNO[4] 5 13 0 #SB_LUT4
set_location Instance3.r_Count[9] 8 10 0 #SB_DFFSR
set_location Instance3.r_Count_2_cry_4_c 8 9 3 #SB_CARRY
set_location Instance3.r_Count[10] 8 10 1 #SB_DFFSR
set_location Instance2.r_State_RNO_5 5 11 4 #SB_LUT4
set_location Instance2.r_Count_RNO[0] 6 12 5 #SB_LUT4
set_location Instance2.r_Count_2_cry_1_c 6 10 0 #SB_CARRY
set_location Instance1.r_Count_RNO[17] 2 11 0 #SB_LUT4
set_location alogicunit.result_13_iv_2_182_i_o4 4 14 6 #SB_LUT4
set_location Instance4.r_Count[7] 6 7 6 #SB_DFFSR
set_location Instance3.r_State_RNO_1 7 10 2 #SB_LUT4
set_location Instance3.r_State_RNO 5 12 5 #SB_LUT4
set_location Instance2.r_Count_2_cry_8_c 6 10 7 #SB_CARRY
set_location sevsegl_RNO_0[1] 4 13 6 #SB_LUT4
set_location alogicunit.m26_l_fx_0 4 13 0 #SB_LUT4
set_location Instance4.r_Count[13] 6 8 4 #SB_DFFSR
set_location Instance3.r_Count_RNO[4] 8 9 3 #SB_LUT4
set_location Instance3.r_Count_RNIQVAG1[17] 7 10 7 #SB_LUT4
set_location Instance3.r_Count_2_cry_16_c 8 10 7 #SB_CARRY
set_location Instance1.r_State_RNO_3 1 9 7 #SB_LUT4
set_location Instance1.r_Count[9] 2 10 0 #SB_DFFSR
set_location Instance1.r_Count[17] 2 11 0 #SB_DFFSR
set_location r_Switch_3 4 13 4 #SB_DFF
set_location alogicunit.un1_a_1_cry_1_c 4 12 0 #SB_CARRY
set_location Instance4.r_Count_RNO[0] 6 6 1 #SB_LUT4
set_location Instance3.r_Count_RNO[15] 8 10 6 #SB_LUT4
set_location Instance2.r_Count_RNO[5] 6 10 4 #SB_LUT4
set_location Instance1.r_Count_RNO[10] 2 10 1 #SB_LUT4
set_location Instance1.r_Count_2_cry_5_c 2 9 4 #SB_CARRY
set_location SegInst1.r_HexEncode_2_6_0_.m10 1 14 5 #SB_LUT4
set_location Instance4.r_Count[0] 6 6 1 #SB_DFFSR
set_location Instance3.r_State_RNO_4 7 10 1 #SB_LUT4
set_location Instance3.r_Count_2_cry_6_c 8 9 5 #SB_CARRY
set_location Instance2.un1_w_Switch_3_1 4 13 1 #SB_LUT4
set_location Instance2.r_Count_2_cry_3_c 6 10 2 #SB_CARRY
set_location Instance1.r_Count_2_cry_10_c 2 10 1 #SB_CARRY
set_location sevsegr_RNO[1] 2 13 1 #SB_LUT4
set_location sevsegl_RNO_1[1] 2 12 3 #SB_LUT4
set_location sevsegl[0] 2 13 7 #SB_DFFE
set_location alogicunit.un1_a_1_cry_6_c 4 12 5 #SB_CARRY
set_location Instance2.r_State 5 11 1 #SB_DFF
set_location Instance1.r_Count_RNIED2U1[4] 1 9 4 #SB_LUT4
set_location Instance1.r_Count_2_cry_2_c 2 9 1 #SB_CARRY
set_location SegInst2.r_HexEncode_i[4] 2 16 2 #SB_DFF
set_location Instance4.r_Count_RNO[15] 6 8 6 #SB_LUT4
set_location Instance3.r_Count_RNO[12] 8 10 3 #SB_LUT4
set_location Instance3.r_Count_2_cry_14_c 8 10 5 #SB_CARRY
set_location Instance2.r_Count_2_cry_2_c 6 10 1 #SB_CARRY
set_location Instance2.r_Count[10] 6 11 1 #SB_DFFSR
set_location cu1.track[0] 5 14 1 #SB_DFF
set_location alogicunit.result_13_iv_3_140_i_a4_1 4 11 0 #SB_LUT4
set_location Instance2.r_Count[6] 6 10 5 #SB_DFFSR
set_location Instance3.r_Count_2_cry_7_c 8 9 6 #SB_CARRY
set_location Instance3.r_Count[1] 9 10 1 #SB_DFFSR
set_location alogicunit.un1_a_1_cry_4_c 4 12 3 #SB_CARRY
set_location SegInst2.r_HexEncode_2_6_0_.m26 1 16 3 #SB_LUT4
set_location Instance3.r_Count_2_cry_8_c 8 9 7 #SB_CARRY
set_location Instance2.r_State_RNI4PC15 5 16 3 #SB_LUT4
set_location Instance1.r_Count_RNO[2] 2 9 1 #SB_LUT4
set_location Instance1.r_Count_2_cry_8_c 2 9 7 #SB_CARRY
set_location sevsegr[2] 2 13 2 #SB_DFFE
set_location o_LED_1_1 8 8 4 #SB_DFF
set_location Instance3.r_Count[15] 8 10 6 #SB_DFFSR
set_location Instance2.r_State_RNO_2 5 11 7 #SB_LUT4
set_location Instance2.r_Count_RNO[16] 6 11 7 #SB_LUT4
set_location Instance2.SUM[3] 4 10 4 #SB_LUT4
set_location Instance1.r_Count_2_cry_1_c 2 9 0 #SB_CARRY
set_location Instance4.r_Count[16] 6 8 7 #SB_DFFSR
set_location Instance3.r_Count_RNO[7] 8 9 6 #SB_LUT4
set_location Instance3.r_Count_2_cry_11_c 8 10 2 #SB_CARRY
set_location Instance2.r_Count[8] 6 10 7 #SB_DFFSR
set_location Instance1.r_Count[14] 2 10 5 #SB_DFFSR
set_location alogicunit.result_RNO[2] 4 11 4 #SB_LUT4
set_location Instance4.r_State_RNO_5 7 8 7 #SB_LUT4
set_location Instance4.r_Count_RNO[5] 6 7 4 #SB_LUT4
set_location Instance2.r_State_RNINFUP1 5 12 7 #SB_LUT4
set_location Instance2.r_Count_RNO[6] 6 10 5 #SB_LUT4
set_location Instance2.r_Count_2_cry_7_c 6 10 6 #SB_CARRY
set_location Instance4.r_Count[5] 6 7 4 #SB_DFFSR
set_location r_Count_RNO[1] 4 10 3 #SB_LUT4
set_location Instance3.r_State 5 12 5 #SB_DFF
set_location Instance3.r_Count_2_cry_10_c 8 10 1 #SB_CARRY
set_location r_Switch_1 1 11 0 #SB_DFF
set_location Instance4.r_Count_RNO[10] 6 8 1 #SB_LUT4
set_location Instance2.r_Count_2_cry_9_c 6 11 0 #SB_CARRY
set_location Instance1.r_Count_2_cry_16_c 2 10 7 #SB_CARRY
set_location Instance4.r_Count_2_cry_1_c 6 7 0 #SB_CARRY
set_location Instance4.r_Count_2_cry_14_c 6 8 5 #SB_CARRY
set_location Instance3.r_Count[4] 8 9 3 #SB_DFFSR
set_location SegInst2.r_HexEncode_i[6] 1 16 3 #SB_DFF
set_location Instance4.r_Count_2_cry_8_c 6 7 7 #SB_CARRY
set_location Instance3.r_Count_2_cry_1_c 8 9 0 #SB_CARRY
set_location Instance1.r_Count_2_cry_11_c 2 10 2 #SB_CARRY
set_location SegInst1.r_HexEncode_i[2] 6 14 4 #SB_DFF
set_location Instance1.r_Count_RNO[1] 1 10 5 #SB_LUT4
set_location r_Switch_2_RNIK7A11 1 12 2 #SB_LUT4
set_location alogicunit.result[0] 4 11 1 #SB_DFFE
set_location Instance3.r_Count[16] 8 10 7 #SB_DFFSR
set_location Instance1.r_Count[5] 2 9 4 #SB_DFFSR
set_location Instance2.r_Count_RNO[11] 6 11 2 #SB_LUT4
set_location alogicunit.result_13_iv_2_182_i_a2 5 14 0 #SB_LUT4
set_location Instance1.r_Count_2_cry_7_c 2 9 6 #SB_CARRY
set_location Instance1.r_Count[11] 2 10 2 #SB_DFFSR
set_location alogicunit.result_RNO[5] 2 12 2 #SB_LUT4
set_location Instance2.r_Count_RNO[3] 6 10 2 #SB_LUT4
set_location sevsegr_RNO_1[3] 4 11 3 #SB_LUT4
set_location sevsegl_RNO[3] 2 13 0 #SB_LUT4
set_location r_Count_e_0[2] 4 15 0 #SB_DFFE
set_location Instance4.r_Count[6] 6 7 5 #SB_DFFSR
set_location Instance1.r_Count_RNIC2TU1[8] 1 9 3 #SB_LUT4
set_location r_Switch_2 5 12 3 #SB_DFF
set_location alogicunit.m34 5 14 6 #SB_LUT4
set_location Instance1.r_Count_RNO[13] 2 10 4 #SB_LUT4
set_location Instance3.r_State_RNO_5 7 10 3 #SB_LUT4
set_location sevsegr_RNO_0[0] 1 13 1 #SB_LUT4
set_location sevsegr_RNO[0] 2 13 5 #SB_LUT4
set_location sevsegl[3] 2 13 0 #SB_DFFE
set_location alogicunit.m26_l_fx 4 13 5 #SB_LUT4
set_location Instance3.r_Count_RNO[0] 9 10 0 #SB_LUT4
set_location alogicunit.un1_a_1_cry_3_c_inv 4 14 1 #SB_LUT4
set_location SegInst2.r_HexEncode_i[3] 2 16 5 #SB_DFF
set_location SegInst2.r_HexEncode_2_6_0_.m14 2 16 4 #SB_LUT4
set_location Instance3.r_Count_RNO[11] 8 10 2 #SB_LUT4
set_location Instance2.r_Count_RNO[9] 6 11 0 #SB_LUT4
set_location SegInst1.r_HexEncode_i[5] 1 13 4 #SB_DFF
set_location SegInst1.r_HexEncode_2_6_0_.m14 6 14 4 #SB_LUT4
set_location Instance1.r_Count_RNO[4] 2 9 3 #SB_LUT4
set_location alogicunit.result_RNO_0[4] 4 12 3 #SB_LUT4
set_location alogicunit.result[7] 4 12 6 #SB_DFFE
set_location SegInst2.r_HexEncode_2_6_0_.m5 2 16 3 #SB_LUT4
set_location Instance1.r_Count[0] 2 11 2 #SB_DFFSR
set_location SegInst2.r_HexEncode_2_6_0_.r_HexEncode_2_i[5] 2 16 6 #SB_LUT4
set_location SegInst1.r_HexEncode_i[0] 1 14 0 #SB_DFF
set_location Instance4.r_Count_2_cry_6_c 6 7 5 #SB_CARRY
set_location Instance4.r_Count_2_cry_13_c 6 8 4 #SB_CARRY
set_location Instance2.r_Count[14] 6 11 5 #SB_DFFSR
set_location Instance2.r_Count_2_cry_5_c 6 10 4 #SB_CARRY
set_location Instance2.r_Count[2] 6 10 1 #SB_DFFSR
set_location cu1.track_e_0[3] 5 15 1 #SB_DFFE
set_location Instance4.r_State_RNO_3 7 7 5 #SB_LUT4
set_location sevsegl_RNO[0] 2 13 7 #SB_LUT4
set_location Instance4.r_Count_2_cry_9_c 6 8 0 #SB_CARRY
set_location Instance2.r_Count_RNIGGG81[8] 5 11 2 #SB_LUT4
set_location alogicunit.result_13_iv_5_56_i_o4 4 14 2 #SB_LUT4
set_location Instance4.r_Count_RNIOCNR[8] 7 8 4 #SB_LUT4
set_location Instance4.r_Count_2_cry_4_c 6 7 3 #SB_CARRY
set_location Instance4.r_Count_2_cry_11_c 6 8 2 #SB_CARRY
set_location Instance4.r_State_RNO 7 8 1 #SB_LUT4
set_location Instance3.r_Count[11] 8 10 2 #SB_DFFSR
set_location Instance1.r_Count_RNO[14] 2 10 5 #SB_LUT4
set_location Instance1.r_Count_2_cry_9_c 2 10 0 #SB_CARRY
set_location alogicunit.un1_a_1_cry_1_c_inv 5 13 4 #SB_LUT4
set_location Instance4.r_Count_2_cry_3_c 6 7 2 #SB_CARRY
set_location Instance4.r_Count_2_cry_16_c 6 8 7 #SB_CARRY
set_location Instance3.r_State_RNO_0 7 9 4 #SB_LUT4
set_location sevsegr_RNO_0[3] 2 12 6 #SB_LUT4
set_location sevsegl_RNO_0[0] 2 12 7 #SB_LUT4
set_location alogicunit.result24_i 5 14 7 #SB_LUT4
set_location Instance4.r_Count[12] 6 8 3 #SB_DFFSR
set_location Instance3.r_Count_RNO[3] 8 9 2 #SB_LUT4
set_location Instance2.r_Count_2_cry_11_c 6 11 2 #SB_CARRY
set_location Instance1.r_State_RNO_2 1 11 3 #SB_LUT4
set_location SegInst2.r_HexEncode_i[0] 2 16 3 #SB_DFF
set_location Instance4.r_Count_RNO[1] 6 6 0 #SB_LUT4
set_location Instance3.r_Count_RNO[16] 8 10 7 #SB_LUT4
set_location Instance4.r_Count[1] 6 6 0 #SB_DFFSR
set_location Instance3.r_Count_RNIM5TJ1[4] 7 9 5 #SB_LUT4
set_location sevsegl_RNO_1[2] 1 13 0 #SB_LUT4
set_location Instance1.r_Count[3] 2 9 2 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location Instance4.r_Count_RNO[14] 6 8 5 #SB_LUT4
set_location Instance2.r_State_RNO 5 11 1 #SB_LUT4
set_location Instance2.r_Count_2_cry_13_c 6 11 4 #SB_CARRY
set_location Instance2.r_Count[13] 6 11 4 #SB_DFFSR
set_location Instance2.r_Count[7] 6 10 6 #SB_DFFSR
set_location Instance3.r_Count_RNO[9] 8 10 0 #SB_LUT4
set_location Instance3.r_Count_RNI1E6U3[12] 7 9 0 #SB_LUT4
set_location Instance3.r_Count[0] 9 10 0 #SB_DFFSR
set_location cu1.track_RNI9MAL_0[1] 4 14 7 #SB_LUT4
set_location Instance2.r_Count_2_cry_14_c 6 11 5 #SB_CARRY
set_location sevsegr[3] 2 13 3 #SB_DFFE
set_location click1_RNO 5 12 1 #SB_LUT4
set_location Instance3.r_Count[12] 8 10 3 #SB_DFFSR
set_location Instance2.r_State_RNO_3 5 10 1 #SB_LUT4
set_location r_Count[1] 4 10 3 #SB_DFF
set_location Instance2.r_Count_RNO[15] 6 11 6 #SB_LUT4
set_location Instance2.SUM[2] 1 13 6 #SB_LUT4
set_location Instance4.r_Count[15] 6 8 6 #SB_DFFSR
set_location Instance3.r_Count_RNO[6] 8 9 5 #SB_LUT4
set_location Instance2.r_Count[9] 6 11 0 #SB_DFFSR
set_location Instance1.r_State_RNO_5 1 9 1 #SB_LUT4
set_location Instance1.r_Count[15] 2 10 6 #SB_DFFSR
set_io o_Segment2_F 8
set_io o_Segment1_D 91
set_io o_LED_1 56
set_io o_Segment2_A 100
set_io o_Segment1_E 90
set_io o_Segment2_D 95
set_io o_Segment1_F 1
set_io o_Segment1_B 4
set_io o_LED_3 59
set_io i_Switch_4 52
set_io i_Clk 15
set_io o_Segment2_G 96
set_io o_Segment2_C 97
set_io o_Segment1_G 2
set_io o_Segment1_C 93
set_io o_LED_2 57
set_io i_Switch_1 53
set_io o_Segment2_B 99
set_io i_Switch_2 51
set_io o_Segment2_E 94
set_io o_Segment1_A 3
set_io o_LED_4 60
set_io i_Switch_3 54
